*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 40px;
}

.movie-header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 8px;
  margin: 0 auto 20px;
  text-transform: uppercase;
}

.movie-input {
  display: block;
  width: 400px;
  margin: 0 auto 40px;
  padding: 0 8px;
  height: 48px;
  font-size: 22px;
  font-weight: 300;
}
