*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 40px;
}


.movie-header {
	color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 8px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  background-color: #ff9100;
	border-radius: 5px;
}

.movie-input {
  display: block;
  width: 400px;
  margin: 0 auto 40px;
  padding: 0 8px;
  height: 48px;
  font-size: 22px;
  font-weight: 300;
}

.movie-search-movie {
  max-width: 720px;
  margin: 0 auto;
}

.movie-poster-div {
	float: right;
	width: 35%;
	margin-right: 36px;
}

.movie-poster {
	margin-left: 27px;
  align-content: center;
  width: 82%;
  margin-right: 5%;
  border: solid 2px #ff9100;
  border-radius: 5px;
}

.imdb-page-link-tag {
	margin-left: 3px;
}

.movie-search-info {
	float: left;
	width: 60%;
  padding-right: 23px;
}

.movie-title {
  font-size: 32px;
	font-weight: bold;
	margin-bottom: 8px;
}

span {
	color: #ff9100;
}

.movie-year {
  font-style: italic;
	color: #ff9100;
	font-size: 15px;
	margin-bottom: 20px;
}

.movie-plot {
  font-size: 18px;
	margin-bottom: 20px;
}

.movie-director,
.movie-actors {
  font-size: 14px;
}

.movie-director {
  margin-bottom: 5px;
}

.movie-actors {
  margin-bottom: 15px;
}

.movie-genre {
  font-size: 15px;
  margin-bottom: 5px;
}

.movie-awards {
  font-size: 15px;
  margin-bottom: 15px;
}

.movie-budget {
	font-size: 15px;
  margin-bottom: 5px;
}

.movie-rated {
  font-size: 15px;
  margin-bottom: 5px;
}
